<%- include('layouts/htmlhead.ejs') %>
<link rel="stylesheet" href="/admin/css/addcoupon.css">
<body class="app">
    <header class="app-header fixed-top">
        <%- include('layouts/topnav.ejs') %>
		<%- include('layouts/sidepanel.ejs') %>
    </header>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    
                    <h1 class="app-page-title">Add Coupon</h1>
                <div class="row gy-4">
                    <div class="col-12 col-lg-6 form-1">
                        
                        <form action="/admin/addCoupon" method="POST">
                            <label for="couponCode">Coupon Code:</label>
                            <input required type="text" id="couponCode" name="couponCode" >
                            <br>
                    
                            <label for="minAmount">Min Amount:</label>
                            <input required type="number" id="minAmount" name="minAmount" >
                            <br>
                    
                            <label for="maxAmount">Max Amount:</label>
                            <input required type="number" id="maxAmount" name="maxAmount" >
                            <br>
                    
                            <label for="discount">Discount Amount:</label>
                            <input required type="number" id="discount" name="discount">
                            <br>

                            <button id="submit" type="submit">Add Coupon</button>

                        </form>
                    </div>
                    
                </div>
            </div><!--//row-->
            
        </div><!--//container-fluid-->
    </div><!--//app-content-->
    </div>
    




    
    <!-- Javascript -->          
    <script src="/admin/assets/plugins/popper.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    
    <!-- Page Specific JS -->
    <script src="/admin/assets/js/app.js"></script> 

</body>