.addCoupenButton{
    width: 20%; 
    height: 40px; 
    font-size: 20px; 
    border: none;
    background-color: rgb(0, 168, 0);
    border-radius: 10px;
    color: rgb(235, 234, 234);
    transition: ease-in-out 500ms;
}
.addCoupenButton:hover{
    background-color: blue;
    font-size: 21px; 
}