.otp-div{
    /* position: absolute; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 15px; */
    background: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    /* width: 900px; */
    /* height: 500px; */
  }
  .otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 12px;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 20px;
  }
  .card-body button{
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    color: white;
  }
  .btn-active {
    background-color: rgb(97,161,254);
    cursor: pointer;
  }
  
  .btn-inactive {
    background-color: gray;
  }
  #otp-div-open{
    /* width: 20%; */
    /* border: 1px solid white; */
    box-shadow: 0 5px 10px 1px rgba(255, 1, 1, 0.356);
    text-decoration: none;
    padding: 5px;
    position: relative;
    left: -124px;
    top: 5px;
    background-color: white;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 15px;
    display: none;
  }
  #otpSubmit{
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: rgb(21,59,68);
  }
  #otpSubmit:hover{
    background-color: rgb(45, 89, 99);
  }
  .forgotPasswordOtpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  @media (max-width: 996px) {
    .otp-div{
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 567px) {
    .otp-div{
      width: 100%;
      height: 100%;
    }
  }