<!--====== Main Footer ======-->
<footer>
    <div class="outer-footer"  style="background-color: rgba(21,59,68,255);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="outer-footer__content u-s-m-b-40">

                        <span class="outer-footer__content-title">Contact Us</span>
                        <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>

                            <span>6575 Oorakam Malappuram kerala India</span></div>
                        <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>

                            <span>(+91) 9747 3232 39</span></div>
                        <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>

                            <span>purepicks@gmail.com</span></div>
                        <div class="outer-footer__social">
                            <ul>
                                <li>

                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li>

                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li>

                                    <a class="s-youtube--color-hover" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li>

                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                <li>

                                    <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">

                                <span class="outer-footer__content-title">Information</span>
                                <div class="outer-footer__list-wrap">
                                    <ul>
                                        <li>

                                            <a href="/cart">Cart</a></li>
                                        <li>

                                            <a href="/account">Account</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">
                                <div class="outer-footer__list-wrap">

                                    <span class="outer-footer__content-title">Our Company</span>
                                    <ul>
                                        <li>

                                            <a href="/about">About us</a></li>
                                        <li>

                                            <a href="#contact-form">Contact Us</a></li>
                                        
                                        <li>

                                            <a href="/orders">Delivery</a></li>
                                        <li>

                                            <a href="/products">Store</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="contact-form" id="contact-form" style="border-radius: 10px;">
                        <form action="/contact" id="contact-form" method="post">
                          <h2>Send Message</h2>
                          <div class="input-box">
                            <input id="contact_email" type="email" required="true" name="email">
                            <span id="contact_email_span">Email Address</span>
                          </div>
                          
                          
                          <div class="input-box">
                            <textarea id="contact_message" required="true" name="message"></textarea>
                            <span id="contact_message_span">Type your Message...</span>
                          </div>
                          
                          <div class="input-box">
                            <button style="width: 100%; height: 40px; background-color: rgb(21,59,68); font-size: 20px; color: white;" type="submit">Send</button>
                          </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="lower-footer__content">
                        <div class="lower-footer__copyright">

                            <span>Copyright © 2024 - 2124</span>

                            <a href="">Pure Picks</a>

                            <span>All Right Reserved</span></div>
                        <div class="lower-footer__payment">
                            <ul>
                                <li><i class="fab fa-cc-stripe"></i></li>
                                <li><i class="fab fa-cc-paypal"></i></li>
                                <li><i class="fab fa-cc-mastercard"></i></li>
                                <li><i class="fab fa-cc-visa"></i></li>
                                <li><i class="fab fa-cc-discover"></i></li>
                                <li><i class="fab fa-cc-amex"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    const contact_email=document.getElementById("contact_email")
    const contact_email_span=document.getElementById("contact_email_span")
    const contact_message=document.getElementById("contact_message")
    const contact_message_span=document.getElementById("contact_message_span")

    contact_email.addEventListener("blur",()=>{
        if(contact_email.value){
            contact_email_span.innerHTML=''
        }
        else{
            contact_email_span.innerHTML='Email Address'
        }
    })
    contact_message.addEventListener("blur",()=>{
        if(contact_message.value){
            contact_message_span.innerHTML=''
        }
        else{
            contact_message_span.innerHTML='Type your Message...'
        }
    })

</script>